@mixin logoText {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  
  letter-spacing: 0.01em;
  
  color: #000000;
}

@mixin logoVersion {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  letter-spacing: -0.01em;

  color: #838383;
}

@mixin navLink($color: #9197B3) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  letter-spacing: -0.01em;

  color: $color;
}

@mixin profileInfoRole {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.01em;

  color: #757575;
}